<h3>TableofContents</h3>

<ul class="nav nav-pills nav-stacked">
    <li><a href="#thedifferenttypesof...typesinscala">Different types of... types</a></li>
    <li><a href="#typeannotation">Type Annotation</a></li>
    <li><a href="#unifiedtypesystem-anyanyrefanyval">Unified Type System</a></li>
    <li><a href="#thebottomtypes-nothingandnull">Bottom Types - Nothing and Null</a></li>
    <li><a href="#typeofan`object`">Type of an `object`</a></li>
    <li><a href="#typevarianceinscala">Type Variance</a></li>
    <li><a href="#traitsmix-ins">Traits (mix-ins)</a>
        <ul class="nav">
            <li><a href="#traitsasinterfaceswithimplementation">... as interfaces with implementation</a></li>
            <li><a href="#typelinearization">... and Type Linearization</a></li>
        </ul>
    </li>
    <li><a href="#refinedtypesrefinements">Refined Type (refinement)</a></li>
    <li><a href="#typealias">Type Alias</a></li>
    <li><a href="#abstracttypemember">Abstract Type Member</a></li>
    <li><a href="#self-recursivetype">Self-Recursive Type</a></li>
    <li><a href="#typeclass">Type Class</a></li>
    <li><a href="#typeconstructor">Type Constructor</a></li>
    <li><a href="#selftypeannotation">Self Type Annotation</a></li>
    <li><a href="#phantomtype">Phantom Type</a></li>
    <li><a href="#structuraltype">Structural Type</a></li>
    <li><a href="#pathdependenttype">Path Dependent Type</a></li>
    <li><a href="#typeprojection">Type Projection</a></li>
    <li><a href="#existentialtypes">Existential Type</a></li>
    <li><a href="#typelambda">Type Lambda</a></li>
    <li><a href="#dynamictype">Dynamic Type</a>
        <ul class="nav">
            <li><a href="#applydynamic">applyDynamic</a></li>
            <li><a href="#applydynamicnamed">applyDynamicNamed</a></li>
            <li><a href="#selectdynamic">selectDynamic</a></li>
            <li><a href="#updatedynamic">updateDynamic</a></li>
        </ul>
    </li>
</ul>
